@import 'header';
@import 'config';
@import 'section';
@import 'responsiveness';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Be Vietnam', sans-serif;
    overflow-x: visible;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.copyright {
    font-size: 11px;
    text-align: center;
    margin-top: 10px;
}